body{
     background-color: azure; 
     }
h1{
     color: blue;
     text-align: center;
    
P{ 
    color: red;
 }

 img{
     width: 100px;
     height: 200px;
     border-radius: 50%;
     border: 20px solid black;
     margin-left: 450px;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-right: 450px;
    float: left;
 }
<p stylebackground-image: url('https://cdn.pixabay.com/photo/2021/07/24/07/23/chow-chow-6488846_1280.jpg')">

<table style
>style> 
table, th, td {
  border: 1px solid black;

}


<<<<<<<<<<<<<<  ✨ Codeium Command ⭐ >>>>>>>>>>>>>>>>
div{
    display: block;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    clear: left;
}
<<<<<<<  db0b10fd-c865-49cd-8d6b-38c531f0f044  >>>>>>>

